#arc--30.calendar-archives.arw-theme1
  .calendar-navigation
    a.prev-year(href='')
      span ˂
    .menu-container.months
      a.title(href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/') febrero 2019
      ul.menu(style='top: 0px;')
        li
          a.2019.2.current.selected(href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/', rel='0') febrero 2019
        li
          a.2019.1(href='http://qa-remates-tgr.latercera.com/publicacion/2019/01/', rel='1') enero 2019
        li
          a.2018.11(href='http://qa-remates-tgr.latercera.com/publicacion/2018/11/', rel='2') noviembre 2018
      .arrow-down
        span ▼
    a.next-year.disabled(href='')
      span ˃
  .week-row.weekdays
    span.day.weekday lun
    span.day.weekday mar
    span.day.weekday mié
    span.day.weekday jue
    span.day.weekday vie
    span.day.weekday sáb
    span.day.weekday.last dom
  .archives-years
    .year.2.2019.current(rel='0')
      .week-row
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day 1
        span.day 2
        span.day.last 3
      .week-row
        span.day 4
        span.day 5
        span.day 6
        span.day 7
        span.day 8
        span.day 9
        span.day.last 10
      .week-row
        span.day 11
        span.day 12
        span.day 13
        span.day.has-posts
          a(data-date='2019-2-14', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/14/', title='14 febrero, 2019') 14
        span.day.has-posts
          a(data-date='2019-2-15', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/15/', title='15 febrero, 2019') 15
        span.day 16
        span.day.last 17
      .week-row
        span.day 18
        span.day.has-posts
          a(data-date='2019-2-19', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/19/', title='19 febrero, 2019') 19
        span.day.has-posts
          a(data-date='2019-2-20', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/20/', title='20 febrero, 2019') 20
        span.day.has-posts
          a(data-date='2019-2-21', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/21/', title='21 febrero, 2019') 21
        span.day.today.has-posts
          a(data-date='2019-2-22', href='http://qa-remates-tgr.latercera.com/publicacion/2019/02/22/', title='22 febrero, 2019') 22
        span.day 23
        span.day.last 24
      .week-row
        span.day 25
        span.day 26
        span.day 27
        span.day 28
        span.day.noday  
        span.day.noday  
        span.day.noday.last  
      .week-row
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday.last  
      .week-row
    .year.1.2019(rel='1')
      .week-row
        span.day.noday  
        span.day 1
        span.day 2
        span.day 3
        span.day 4
        span.day 5
        span.day.last 6
      .week-row
        span.day 7
        span.day 8
        span.day 9
        span.day 10
        span.day 11
        span.day 12
        span.day.last 13
      .week-row
        span.day 14
        span.day 15
        span.day 16
        span.day 17
        span.day.has-posts
          a(data-date='2019-1-18', href='http://qa-remates-tgr.latercera.com/publicacion/2019/01/18/', title='18 enero, 2019') 18
        span.day 19
        span.day.last 20
      .week-row
        span.day 21
        span.day 22
        span.day 23
        span.day 24
        span.day 25
        span.day 26
        span.day.last 27
      .week-row
        span.day 28
        span.day 29
        span.day.has-posts
          a(data-date='2019-1-30', href='http://qa-remates-tgr.latercera.com/publicacion/2019/01/30/', title='30 enero, 2019') 30
        span.day 31
        span.day.noday  
        span.day.noday  
        span.day.noday.last  
      .week-row
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday.last  
      .week-row
    .year.11.2018.last(rel='2')
      .week-row
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day 1
        span.day 2
        span.day 3
        span.day.last 4
      .week-row
        span.day 5
        span.day 6
        span.day 7
        span.day 8
        span.day 9
        span.day 10
        span.day.last 11
      .week-row
        span.day 12
        span.day 13
        span.day.has-posts
          a(data-date='2018-11-14', href='http://qa-remates-tgr.latercera.com/publicacion/2018/11/14/', title='14 noviembre, 2018') 14
        span.day 15
        span.day 16
        span.day 17
        span.day.last 18
      .week-row
        span.day 19
        span.day 20
        span.day 21
        span.day 22
        span.day 23
        span.day 24
        span.day.last 25
      .week-row
        span.day 26
        span.day 27
        span.day 28
        span.day 29
        span.day.has-posts
          a(data-date='2018-11-30', href='http://qa-remates-tgr.latercera.com/publicacion/2018/11/30/', title='30 noviembre, 2018') 30
        span.day.noday  
        span.day.noday.last  
      .week-row
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday  
        span.day.noday.last  
      .week-row
