header.remates-header
  .rem-menu-top
    nav.rem-menu
      a(href="#") Inicio
      a(href="#") Publicaciones
      a.highlighted(href="#") Remates Vigentes
  .remates-header-wrapper
    .col1
    .col2
      h1
        img(src="assets/logo-tgr.png", alt="Tesorería General de la República")
    .col3
      .rem-login
        .rem-login-desktop
          include _nonlogged
        .rem-login-mobile
          .rem-login-button
            a(href="#").btn-toggler menú
          .rem-login-box
            include _nonlogged

  h6.ttl-remates
    span Remates

script.
  jQuery(function($){
    $('a.btn-toggler').click(function(e){
      e.preventDefault();
      $('.rem-login-box').toggleClass('active');
    })
    $('body').click(function(e) {
      var target = $(e.target);
      if(!target.is('a.btn-toggler') && !target.parents().is('.rem-login-mobile')) {
        $('.rem-login-box').removeClass('active');
      }
    });
  })