doctype html
html(lang='es-CL')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv='refresh', content='60')
    title Remates La Tercera
    meta(name='description', content='Remates de Tesorería.')
    meta(name='twitter:card', content='summary_large_image')
    link(href='http://gmpg.org/xfn/11', rel='profile')

    link(href='//fonts.googleapis.com', rel='dns-prefetch')
    link(href='//s.w.org', rel='dns-prefetch')
    link#gnuble-style-css(type='text/css', href='http://s1.latercera.com/wp-content/themes/gnuble/style.css?ver=4.8', rel='stylesheet', media='all')
    link#bootstrap-css(type='text/css', href='http://s1.latercera.com/wp-content/themes/gnuble/css/bootstrap.min.css?ver=4.8', rel='stylesheet', media='all')
    link#owlcarousel-min-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/owlcarousel/owl.carousel.min.css?ver=4.8', rel='stylesheet', media='all')
    link#owlcarousel-default-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/owlcarousel/owl.theme.default.min.css?ver=4.8', rel='stylesheet', media='all')
    link#fuentes-lt-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/fuentes-lt.css?ver=4.8', rel='stylesheet', media='all')
    link#header-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/header.css?ver=5.6.1', rel='stylesheet', media='all')
    link#footer-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/footer.css?ver=4.8', rel='stylesheet', media='all')
    link#main-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/main.css?ver=6.9.1', rel='stylesheet', media='all')
    link#opta-custom-css(type='text/css', href='http://s2.latercera.com/wp-content/themes/gnuble/css/opta-lt-custom.css?ver=1.0', rel='stylesheet', media='all')
    link#merriweather-css(type='text/css', href='https://fonts.googleapis.com/css?family=Merriweather%3A300%2C400%2C400i%2C700%2C900%7COpen+Sans%3A300%2C400&ver=4.8', rel='stylesheet', media='all')
    script(src='http://s1.latercera.com/wp-includes/js/jquery/jquery.js?ver=1.12.4', type='text/javascript')
    script(src='http://s2.latercera.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1', type='text/javascript')

    link(href='//s1.latercera.com/wp-content/themes/gnuble/favicon/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(type='image/png', href='//s1.latercera.com/wp-content/themes/gnuble/favicon/favicon-32x32.png', rel='icon', sizes='32x32')
    link(type='image/png', href='//s1.latercera.com/wp-content/themes/gnuble/favicon/favicon-16x16.png', rel='icon', sizes='16x16')
    link(href='//s1.latercera.com/wp-content/themes/gnuble/favicon/manifest.json', rel='manifest')
    link(href='//s1.latercera.com/wp-content/themes/gnuble/favicon/safari-pinned-tab.svg', rel='mask-icon', color='#aa272f')
    meta(name='theme-color', content='#ffffff')
    //- qa estilos de calendario
    link(type='text/css', href='http://qa-remates-tgr.latercera.com/wp-content/plugins/archives-calendar-widget/themes/arw-theme1.css?ver=1.0.12', rel='stylesheet', media='all')

    link(href='main.css', rel='stylesheet')
  body.tesoreria
    header.lt-auto-hide-header.main-header
      section.top-head.main-wrapper
        .menu-topwrp.text-left

          nav.rrss-nav.rrss-nav-sm
            ul
              li
                a.defaultc(href='http://twitter.com/latercera', target='_blank')
                  span.ltpicto-twitter
              li
                a.defaultc(href='https://www.facebook.com/laterceracom', target='_blank')
                  span.ltpicto-facebook
              li
                a.defaultc(href='https://flipboard.com/@latercera', target='_blank')
                  span.ltpicto-flipboard
              li
                a.defaultc(href='https://www.instagram.com/laterceracom/', target='_blank')
                  span.ltpicto-instagram
              li
                a.defaultc(href='https://www.youtube.com/latercera/', target='_blank')
                  span.ltpicto-youtube
          nav.nav-sm.inline-block.vbottom
            ul.list-inline
              li
                a.highlight-btn(href='http://suscripcioneslt.latercera.com/', target='_blank')
                  span.ltpicto-label
                  |  Suscripciones
              li
                a(href='http://www.clublatercera.com/', target='_blank') Club La Tercera
              // <li><a href="">Avisos Legales</a></li>
              // <li><a href="">Remates</a></li>
        .menu-toplogo
          a#trackLogo.main-logo(href='http://www.latercera.com')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 502.4 61.8')
              style(type='text/css').
                .red{fill:#AA272F;}.white{fill:#fff;}.lt-inv .red{fill:#fff;}.lt-inv .white{fill:#AA272F;}
              title La Tercera
              rect.red(y='1.3', width='62', height='59.6')
              polygon.white(points='7.4 12.3 13.4 12.3 13.4 44.9 30.5 44.9 30.5 50.2 7.4 50.2 ')
              polygon.white(points='37.3 17.6 26.1 17.6 26.1 12.3 54.6 12.3 54.6 17.6 43.3 17.6 43.3 50.2 37.3 50.2 ')
              polygon.red(points='161.8 9.7 179.5 9.7 179.5 60.9 188.8 60.9 188.8 9.7 206.5 9.7 206.5 1.4 161.8 1.4 ')
              path.red(d='M297.9 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.9c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L286 44C293.8 40.4 297.9 33.3 297.9 24.1zM272.2 38.7h-5.6v-29h5.6c11.4 0 16.1 5.4 16.1 14.5C288.2 33.2 283.6 38.7 272.2 38.7z')
              path.red(d='M332.2 53.2c-12 0-20.8-9.2-20.8-22.1C311.4 18.5 320 9 331.9 9c7.9 0 12.9 2.8 16.9 8.2l7.2-5.1c-5.2-7.3-12.8-11.5-23.8-11.5 -17 0-30.4 13-30.4 30.6 0 17.6 13.1 30.6 30.1 30.6 11.6 0 19.4-4 25.5-12.2l-7.3-5C345.6 50.3 339.9 53.2 332.2 53.2z')
              path.red(d='M447.5 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.8c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L435.5 44C443.3 40.4 447.5 33.3 447.5 24.1zM421.7 38.7h-5.5v-29h5.5c11.4 0 16.1 5.4 16.1 14.5C437.8 33.2 433.2 38.7 421.7 38.7z')
              path.red(d='M476.2 0.1h-0.5l-26.1 60.8h9.5l3.4-8.3H489l3.4 8.3h9.9L476.2 0.1zM465.9 44.3l9.9-23.6 9.7 23.6H465.9z')
              polygon.red(points='362.4 60.9 401.2 60.9 401.2 52.6 371.8 52.6 371.8 42.5 397.1 42.5 397.1 34.4 371.8 34.4 371.8 9.7 401.2 9.7 401.2 1.4 362.4 1.4 ')
              polygon.red(points='221.8 42.5 247.1 42.5 247.1 34.4 221.8 34.4 221.8 9.7 251.5 9.7 251.5 1.4 212.4 1.4 212.4 60.9 251.6 60.9 251.6 52.6 221.8 52.6 ')
              path.red(d='M135.4 0.2l-22.5 52.4H89.2V1.4h-9.4v59.5h39l3.4-8.3h26.6l3.4 8.3h9.9L136 0.2H135.4zM125.7 44.3l9.9-23.5 9.7 23.5H125.7z')
        .menu-topwrp.text-right
          .digital-paper.clearfix
            h1
              | revisa nuestro
              br
              | papel digital
              br
              b AQUí
            div
              .paper-revolutions
                a(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=33084897-397a-48cc-b3c0-3ce1ec447137', target='_blank')
                  .over-shadow
                  .news
                    img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=300&pbid=33084897-397a-48cc-b3c0-3ce1ec447137&pnum=01&nocache=1107201821', alt='Papel Digital')
          nav.nav-sm.hidden
            ul.list-inline
              li
                a(href='')
                  span.ltpicto-user
                  |  Acceder
              li
                a(href='') Regístrate
      hr.divisor
      section.bottom-head.main-wrapper
        .menu-bottomlogo
          a.behind-logo(href='http://www.latercera.com')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 502.4 61.8')
              style(type='text/css').
                .red{fill:#AA272F;}.white{fill:#fff;}.lt-inv .red{fill:#fff;}.lt-inv .white{fill:#AA272F;}
              title La Tercera
              rect.red(y='1.3', width='62', height='59.6')
              polygon.white(points='7.4 12.3 13.4 12.3 13.4 44.9 30.5 44.9 30.5 50.2 7.4 50.2 ')
              polygon.white(points='37.3 17.6 26.1 17.6 26.1 12.3 54.6 12.3 54.6 17.6 43.3 17.6 43.3 50.2 37.3 50.2 ')
              polygon.red(points='161.8 9.7 179.5 9.7 179.5 60.9 188.8 60.9 188.8 9.7 206.5 9.7 206.5 1.4 161.8 1.4 ')
              path.red(d='M297.9 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.9c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L286 44C293.8 40.4 297.9 33.3 297.9 24.1zM272.2 38.7h-5.6v-29h5.6c11.4 0 16.1 5.4 16.1 14.5C288.2 33.2 283.6 38.7 272.2 38.7z')
              path.red(d='M332.2 53.2c-12 0-20.8-9.2-20.8-22.1C311.4 18.5 320 9 331.9 9c7.9 0 12.9 2.8 16.9 8.2l7.2-5.1c-5.2-7.3-12.8-11.5-23.8-11.5 -17 0-30.4 13-30.4 30.6 0 17.6 13.1 30.6 30.1 30.6 11.6 0 19.4-4 25.5-12.2l-7.3-5C345.6 50.3 339.9 53.2 332.2 53.2z')
              path.red(d='M447.5 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.8c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L435.5 44C443.3 40.4 447.5 33.3 447.5 24.1zM421.7 38.7h-5.5v-29h5.5c11.4 0 16.1 5.4 16.1 14.5C437.8 33.2 433.2 38.7 421.7 38.7z')
              path.red(d='M476.2 0.1h-0.5l-26.1 60.8h9.5l3.4-8.3H489l3.4 8.3h9.9L476.2 0.1zM465.9 44.3l9.9-23.6 9.7 23.6H465.9z')
              polygon.red(points='362.4 60.9 401.2 60.9 401.2 52.6 371.8 52.6 371.8 42.5 397.1 42.5 397.1 34.4 371.8 34.4 371.8 9.7 401.2 9.7 401.2 1.4 362.4 1.4 ')
              polygon.red(points='221.8 42.5 247.1 42.5 247.1 34.4 221.8 34.4 221.8 9.7 251.5 9.7 251.5 1.4 212.4 1.4 212.4 60.9 251.6 60.9 251.6 52.6 221.8 52.6 ')
              path.red(d='M135.4 0.2l-22.5 52.4H89.2V1.4h-9.4v59.5h39l3.4-8.3h26.6l3.4 8.3h9.9L136 0.2H135.4zM125.7 44.3l9.9-23.5 9.7 23.5H125.7z')
        .menu-bottomwrp.menu-ellipsis
          .cat-excerpt
            nav.nav-cat
              ul.list-inline.text-uppercase
                li
                  a(href='http://www.latercera.com')
                    span.ltpicto-home.tx-gray-med
                    | Inicio
                li
                  a(href='http://www.latercera.com/la-tercera-pm/') La Tercera PM
                li
                  a(href='http://www.latercera.com/canal/pulso/') Pulso
                li
                  a(href='http://www.latercera.com/canal/politica/') Política
                li
                  a(href='http://www.latercera.com/canal/nacional/') Nacional
                li
                  a(href='http://www.latercera.com/canal/mundo/') Mundo
                li
                  a(href='http://www.latercera.com/canal/opinion/') Opinión
                li
                  a(href='http://www.latercera.com/canal/tendencias/') Tendencias
                li
                  a(href='http://www.latercera.com/canal/cultura/') Cultura
                li
                  a(href='http://www.latercera.com/canal/entretencion/') Entretención
                li
                  a(href='http://www.latercera.com/canal/reportajes/') Reportajes
                li
                  a(href='http://www.latercera.com/canal/el-deportivo/') El Deportivo
                li
                  a(href='http://www.latercera.com/canal/la-tercera-tv/') La Tercera TV
                li
                  a(href='http://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=33084897-397a-48cc-b3c0-3ce1ec447137') Edición Impresa
          .tags-excerpt
            span#temas-headding
              em Temas/
            nav.nav-cat
              ul.list-inline.text-uppercase
                li
                  a(href='http://www.latercera.com/etiqueta/cristiano-ronaldo/') Cristiano Ronaldo
                li
                  a(href='http://www.latercera.com/etiqueta/juventus/') Juventus
                li
                  a(href='http://www.latercera.com/etiqueta/real-madrid/') Real Madrid
                li
                  a(href='http://www.latercera.com/etiqueta/belgica/') Bélgica
                li
                  a(href='http://www.latercera.com/etiqueta/francia/') Francia
                li
                  a(href='http://www.latercera.com/etiqueta/tailandia/') Tailandia
                li
                  a(href='http://www.latercera.com/etiqueta/rescate/') Rescate
                li
                  a(href='http://www.latercera.com/etiqueta/copa-del-mundo-rusia-2018/') Copa del Mundo Rusia 2018
        .menu-bottomwrp.menu-btn-right.btn-search
          a.collapsed(data-toggle='collapse', href='#showSearch', role='button', aria-controls='showSearch', aria-expanded='false')
            span.ltpicto-search
        .menu-bottomwrp.menu-btn-right
          a#trackBurger.nav-trigger(href='#lt-navigation')
            span
              em(aria-hidden='true')
      hr.divisor
      nav.lt-primary-nav
        #lt-navigation
          .container
            .row
              .col-md-4
                .visible-xs-block
                  h2 #Tags
                  ul.menu_vertical.tags_menu.m-bottom-15
                    li
                      a(href='http://www.latercera.com/etiqueta/cristiano-ronaldo/') Cristiano Ronaldo
                    li
                      a(href='http://www.latercera.com/etiqueta/juventus/') Juventus
                    li
                      a(href='http://www.latercera.com/etiqueta/real-madrid/') Real Madrid
                    li
                      a(href='http://www.latercera.com/etiqueta/belgica/') Bélgica
                    li
                      a(href='http://www.latercera.com/etiqueta/francia/') Francia
                    li
                      a(href='http://www.latercera.com/etiqueta/tailandia/') Tailandia
                    li
                      a(href='http://www.latercera.com/etiqueta/rescate/') Rescate
                    li
                      a(href='http://www.latercera.com/etiqueta/copa-del-mundo-rusia-2018/') Copa del Mundo Rusia 2018
                h2 Secciones
                ul.list-unstyled.cat-menu.text-opacity
                  li
                    a(href='http://www.latercera.com')
                      span.ltpicto-home.tx-gray-med
                      | Inicio
                  li
                    a(href='http://www.latercera.com/la-tercera-pm/') La Tercera PM
                  li
                    a(href='http://www.latercera.com/canal/pulso/') Pulso
                  li
                    a(href='http://www.latercera.com/canal/politica/') Política
                  li
                    a(href='http://www.latercera.com/canal/nacional/') Nacional
                  li
                    a(href='http://www.latercera.com/canal/mundo/') Mundo
                  li
                    a(href='http://www.latercera.com/canal/opinion/') Opinión
                  li
                    a(href='http://www.latercera.com/canal/tendencias/') Tendencias
                  li
                    a(href='http://www.latercera.com/canal/cultura/') Cultura
                  li
                    a(href='http://www.latercera.com/canal/entretencion/') Entretención
                  li
                    a(href='http://www.latercera.com/canal/reportajes/') Reportajes
                  li
                    a(href='http://www.latercera.com/canal/el-deportivo/') El Deportivo
                  li
                    a(href='http://www.latercera.com/canal/la-tercera-tv/') La Tercera TV
                  li
                    a(href='http://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=33084897-397a-48cc-b3c0-3ce1ec447137') Edición Impresa
                .visible-xs-block.visible-sm-block
                  .m-bottom-10
                    h4.inline-block.m-right-5 Redes Sociales
                    nav.rrss-nav.rrss-nav-sm.inline-block.rrss-inverse
                      ul
                        li
                          a(href='http://twitter.com/latercera', target='_blank')
                            span.ltpicto-twitter
                        li
                          a(href='https://www.facebook.com/laterceracom', target='_blank')
                            span.ltpicto-facebook
                        li
                          a(href='https://flipboard.com/@latercera', target='_blank')
                            span.ltpicto-flipboard
                        li
                          a(href='https://www.instagram.com/laterceracom/', target='_blank')
                            span.ltpicto-instagram
                        li
                          a(href='https://www.youtube.com/latercera/', target='_blank')
                            span.ltpicto-youtube
                  ul.list-unstyled.cat-menu.text-opacity
                    li
                      a(href='http://suscripcioneslt.latercera.com/', target='_blank') Suscripciones
                    li
                      a(href='http://www.clublatercera.com/', target='_blank') Club
              .col-md-8
                h2 Nuestros Sitios
                .multisites
                  ul.clearfix
                    li
                      a(href='http://culto.latercera.com/', target='_blank')
                        .fav-icon.fi-culto
                          span.ltpicto-fav-culto
                        span Culto
                    li
                      a(href='http://mouse.latercera.com/', target='_blank')
                        .fav-icon.fi-mouse
                          span.ltpicto-fav-mouse
                        span Mouse
                    li
                      a(href='http://www.latercera.com/la-tercera-tv/', target='_blank')
                        .fav-icon.fi-lt
                          span.ltpicto-fav-tv
                        span Tv
                    li
                      a(href='http://finde.latercera.com/', target='_blank')
                        .fav-icon.fi-finde
                          span.ltpicto-fav-finde
                        span Finde
                    li
                      a(href='http://www.latercera.com/canal/tendencias/', target='_blank')
                        .fav-icon.fi-lt
                          span.ltpicto-fav-tendencias
                        span Tendencias
                    li
                      a(href='http://www.latercera.com/canal/reportajes/', target='_blank')
                        .fav-icon.fi-lt
                          span.ltpicto-fav-reportajes
                        span Reportajes
                    li
                      a(href='http://www.latercera.com/canal/el-deportivo/', target='_blank')
                        .fav-icon.fi-lt
                          span.ltpicto-fav-eldeportivo
                        span El Deportivo
                    li
                      a(href='http://www.latercera.com/canal/pulso/', target='_blank')
                        .fav-icon.fi-pulso
                          span.ltpicto-fav-pulso
                        span Pulso
                    li
                      a(href='http://www.biut.cl/', target='_blank')
                        .fav-icon.fi-biut
                          span.ltpicto-fav-biut
                        span Biut
                    li
                      a(href='http://www.glamorama.cl/', target='_blank')
                        .fav-icon.fi-glam
                          span.ltpicto-fav-glamorama
                        span Glamorama
                    li
                      a(href='http://mtonline.cl/', target='_blank')
                        .fav-icon.fi-black
                          span.ltpicto-fav-mtonline
                        span Mt Online
                    li
                      a(href='http://www.revistamujer.cl/', target='_blank')
                        .fav-icon.fi-black
                          span.ltpicto-fav-mujer
                        span Mujer
                    li
                      a(href='http://www.masdeco.cl/', target='_blank')
                        .fav-icon.fi-grey
                          span.ltpicto-fav-masdeco
                        span Más Deco
                    li
                      a(href='http://www.paula.cl/', target='_blank')
                        .fav-icon.fi-white
                          span.ltpicto-fav-paula
                        span Paula
                    li
                      a(href='http://www.quepasa.cl/', target='_blank')
                        .fav-icon.fi-qp
                          span.ltpicto-fav-quepasa
                        span Qué Pasa
                    li
                      a(href='http://www.lacuarta.com/', target='_blank')
                        .fav-icon.fi-lacuarta
                          span.ltpicto-fav-lacuarta
                        span La Cuarta
                    li
                      a(href='http://www.lahora.cl/', target='_blank')
                        .fav-icon.fi-lahora
                          span.ltpicto-fav-lahora
                        span La Hora
      //if lt IE 10
        .alert.alert-header.alert-danger.alert-dismissible.alert-browser(role='alert')
          a.close(data-dismiss='alert', href='#')
            span.ltpicto-close
          p
            span.ltpicto-info
            |  Estás usando un navegador
            strong sin soporte
            | . Por favor
            a(href='http://browsehappy.com/')
              strong
                | actualiza tu navegador
                span.ltpicto-linkout
            |  para mejorar tu experiencia.
      #showSearch.collapse
        script.
          (function() {
          var cx = '001097818992342953348:wonhcwj-dss';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
          })();
        .search-box
          .main-wrapper
            .input-group.input-group-lg
              // Contenedor Custom de Google Search
              gcse:searchbox-only
              // FIN Contenedor Custom de Google Search
              .input-group-addon.addon-close
                a(data-toggle='collapse', href='#showSearch', role='button', aria-controls='showSearch', aria-expanded='false')
                  span.ltpicto-close
    main.main-page.fill-up(role='main')
      section.full-width.wrap-remates
        != yield

    section.papel-digital.bg-blue-dark.tx-white
      .container
        .row
          .col-md-4
            a.title-link(href='https://www.latercera.com/la-tercera-digital/', target='_blank')
              h3.tx-white.margin-0 Papel Digital
              span.ltpicto-linkout
        .row
          .col-xs-12
            .slider-pdigital.owl-carousel.owl-overflow
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=33084897-397a-48cc-b3c0-3ce1ec447137', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=33084897-397a-48cc-b3c0-3ce1ec447137&pnum=01&nocache=1107201821', alt='La Tercera')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=3a4511d1-3f74-4f79-b23e-2aa2c5437433', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=300&pbid=3a4511d1-3f74-4f79-b23e-2aa2c5437433&pnum=01&nocache=1107201821', alt='Pulso')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=9e36c9ef-9a42-4768-9c88-3b1e8892b386', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=9e36c9ef-9a42-4768-9c88-3b1e8892b386&pnum=01&nocache=1107201821', alt='El Deportivo')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=dc59bd97-a897-4973-9016-48c99aec7819', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=dc59bd97-a897-4973-9016-48c99aec7819&pnum=01&nocache=1107201821', alt='Finde')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=c2876e84-02c0-4037-9d8e-46c638044a4f', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=c2876e84-02c0-4037-9d8e-46c638044a4f&pnum=01&nocache=1107201821', alt='Suplemento Motores')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=d99f8564-d9c6-40df-86f9-e88ff6868773', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=d99f8564-d9c6-40df-86f9-e88ff6868773&pnum=01&nocache=1107201821', alt='Suplemento Tendencias')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=48f9332c-80d6-478f-af3d-5517bb6f0346', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=48f9332c-80d6-478f-af3d-5517bb6f0346&pnum=01&nocache=1107201821', alt='Suplemento Reportajes')
              div
                a.drop-shadow(href='http://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=2b07d086-f618-4876-947c-d6fb49fe540b', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=2b07d086-f618-4876-947c-d6fb49fe540b&pnum=01&nocache=1107201821', alt='Revista Paula')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=6728743c-8350-46c9-9d1a-9cb2ec6aa1dd', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=6728743c-8350-46c9-9d1a-9cb2ec6aa1dd&pnum=01&nocache=1107201821', alt='Revista Más Deco')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=1ccad72c-86f1-4ed8-b7ce-d1c7fc20e55a', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=1ccad72c-86f1-4ed8-b7ce-d1c7fc20e55a&pnum=01&nocache=1107201821', alt='Mtmag')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=eef26669-47ab-41ea-b0e2-6cfb84b44d9e', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=eef26669-47ab-41ea-b0e2-6cfb84b44d9e&nocache=1107201821', alt='Especiales 1')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=489948bc-3f78-45f6-8b6e-2e9627bcae0d', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=489948bc-3f78-45f6-8b6e-2e9627bcae0d&nocache=1107201821', alt='Especiales 2')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=11f21979-737e-4733-a7cd-91bcbe58b503', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=11f21979-737e-4733-a7cd-91bcbe58b503&nocache=1107201821', alt='Especiales 3')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=7b0460dc-c269-4a34-829d-d8f3c70879b3', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=7b0460dc-c269-4a34-829d-d8f3c70879b3&nocache=1107201821', alt='Especiales 4')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=f06cf70d-3e03-40ed-acf8-e87f88b35081', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=f06cf70d-3e03-40ed-acf8-e87f88b35081&pnum=01&nocache=1107201821', alt='Club La Tercera')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=c64fe86d-9c7f-46bc-b75e-0628236785ca', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=c64fe86d-9c7f-46bc-b75e-0628236785ca&pnum=01&nocache=1107201821', alt='Anuario de Culto')
              div
                a.drop-shadow(href='https://edition.pagesuite.com/html5/reader/production/default.aspx?pubname=&pubid=a371ce79-6a71-44c0-a098-95493a82413c', target='_blank')
                  .position-full.read-over
                    span.ltpicto-read
                  img(src='https://edition.pagesuite-professional.co.uk/get_image.aspx?w=240&pbid=a371ce79-6a71-44c0-a098-95493a82413c&pnum=01&nocache=1107201821', alt='Revista Full Diseño')
      #phantomNav.owl-nav.phantom-nav.nav-blue-dark
    footer.main-footer
      .container
        .row.p-bottom-20.p-top-20
          .col-md-4.logo_footer_menu
            a.lfoot-lt.lt-inv(href='http://www.latercera.com')
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 502.4 61.8')
                style(type='text/css').
                  .red{fill:#AA272F;}.white{fill:#fff;}.lt-inv .red{fill:#fff;}.lt-inv .white{fill:#AA272F;}
                title La Tercera
                rect.red(y='1.3', width='62', height='59.6')
                polygon.white(points='7.4 12.3 13.4 12.3 13.4 44.9 30.5 44.9 30.5 50.2 7.4 50.2 ')
                polygon.white(points='37.3 17.6 26.1 17.6 26.1 12.3 54.6 12.3 54.6 17.6 43.3 17.6 43.3 50.2 37.3 50.2 ')
                polygon.red(points='161.8 9.7 179.5 9.7 179.5 60.9 188.8 60.9 188.8 9.7 206.5 9.7 206.5 1.4 161.8 1.4 ')
                path.red(d='M297.9 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.9c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L286 44C293.8 40.4 297.9 33.3 297.9 24.1zM272.2 38.7h-5.6v-29h5.6c11.4 0 16.1 5.4 16.1 14.5C288.2 33.2 283.6 38.7 272.2 38.7z')
                path.red(d='M332.2 53.2c-12 0-20.8-9.2-20.8-22.1C311.4 18.5 320 9 331.9 9c7.9 0 12.9 2.8 16.9 8.2l7.2-5.1c-5.2-7.3-12.8-11.5-23.8-11.5 -17 0-30.4 13-30.4 30.6 0 17.6 13.1 30.6 30.1 30.6 11.6 0 19.4-4 25.5-12.2l-7.3-5C345.6 50.3 339.9 53.2 332.2 53.2z')
                path.red(d='M447.5 24.1c0-13.8-9-22.8-25.4-22.8h-15.2v59.6h9.4V46.7h5.8c1.5 0 3-0.1 4.3-0.3l10.2 14.5h11.1L435.5 44C443.3 40.4 447.5 33.3 447.5 24.1zM421.7 38.7h-5.5v-29h5.5c11.4 0 16.1 5.4 16.1 14.5C437.8 33.2 433.2 38.7 421.7 38.7z')
                path.red(d='M476.2 0.1h-0.5l-26.1 60.8h9.5l3.4-8.3H489l3.4 8.3h9.9L476.2 0.1zM465.9 44.3l9.9-23.6 9.7 23.6H465.9z')
                polygon.red(points='362.4 60.9 401.2 60.9 401.2 52.6 371.8 52.6 371.8 42.5 397.1 42.5 397.1 34.4 371.8 34.4 371.8 9.7 401.2 9.7 401.2 1.4 362.4 1.4 ')
                polygon.red(points='221.8 42.5 247.1 42.5 247.1 34.4 221.8 34.4 221.8 9.7 251.5 9.7 251.5 1.4 212.4 1.4 212.4 60.9 251.6 60.9 251.6 52.6 221.8 52.6 ')
                path.red(d='M135.4 0.2l-22.5 52.4H89.2V1.4h-9.4v59.5h39l3.4-8.3h26.6l3.4 8.3h9.9L136 0.2H135.4zM125.7 44.3l9.9-23.5 9.7 23.5H125.7z')
          .col-md-8
            ul.menu_footer.clearfix
              li
                a(href='http://www.latercera.com/quienes-somos/') Quiénes somos
              li
                a(href='http://www.grupocopesa.cl/declaracion/') Declaración de Intereses
              li
                a(href='https://especiales.latercera.com/especiales/2012/publicidad/tarifarios/tarifario_online_latercera/') Tarifario Diario La Tercera
              li
                a(href='http://www.latercera.com/contacto/') Contacto
              li
                a(href='http://canaldenuncias.grupocopesa.cl/gobierno-corporativo/view.php?file=CodigoEtica.pdf') Código de ética
              li
                a(href='http://canaldenuncias.grupocopesa.cl/canal-denuncias/') Canal de denuncias
              li
                a(href='http://www.latercera.com/terminos-y-condiciones/') Términos y condiciones
              li
                a(href='http://www.latercera.com/politicas-de-privacidad/') Políticas de privacidad
              li
                a(href='http://suscripcioneslt.latercera.com/') Suscripciones
              li
                a(href='http://avisoslegales.latercera.com/') Avisos Legales
              li
                a(href='http://remates.latercera.com/') Remates
        .row
          .col-xs-12
            .b-top-white-opacity
        .row.p-top-30.p-bottom-30
          .col-md-4.col-sm-4
            a.lfoot-gc(href='http://www.grupocopesa.cl/', target='_blank')
              img(src='//s1.latercera.com/wp-content/themes/gnuble/img/logo-grupo-copesa.png', alt='Grupo Copesa')
          .col-md-8.col-sm-8.hidden-xs
            .row.margin-0
              .foot-logos
                ul.list-inline
                  li
                    a(href='http://latercera.com/')
                      span.ltc
                  li
                    a(href='http://lacuarta.com')
                      span.lct
                  li
                    a(href='http://www.pulso.cl')
                      span.pls
                  li
                    a(href='http://www.lahora.cl/')
                      span.lhr
                  li
                    a(href='http://www.diarioconcepcion.cl/')
                      span.dcn
                  li
                    a(href='http://www.quepasa.cl/')
                      span.qps
                  li
                    a(href='http://www.paula.cl')
                      span.pau
                  li
                    a(href='http://www.glamorama.cl/')
                      span.gla
                  li
                    a(href='http://www.biut.cl/')
                      span.biu
                  li
                    a(href='http://www.duna.cl/')
                      span.dun
                  li
                    a(href='http://www.beethovenfm.cl/')
                      span.bet
                  li
                    a(href='http://www.radiopaula.cl/')
                      span.rpa
                  li
                    a(href='http://www.radiozero.cl/')
                      span.zer
                  li
                    a(href='http://www.disneylatino.com/radio')
                      span.dis
                  li
                    a(href='http://www.icarito.cl/')
                      span.ica
        .row
          .col-xs-12
            .b-top-white-opacity
        .row
          .col-md-12
            h5#copyright-footer.tx-white.margin-top-0 © 2018 La Tercera, innovación digital. Todos los derechos reservados.
    script(type='text/javascript').
      (function() {
      /** CONFIGURATION START **/
      var _sf_async_config = window._sf_async_config = (window._sf_async_config || {});
      _sf_async_config.sections = 'tendencias';
      /** CONFIGURATION END **/
      function loadChartbeat() {
      var e = document.createElement('script');
      var n = document.getElementsByTagName('script')[0];
      e.type = 'text/javascript';
      e.async = true;
      e.src = '//static.chartbeat.com/js/chartbeat.js';
      n.parentNode.insertBefore(e, n);
      }
      loadChartbeat();
      })();
    script(src='http://s1.latercera.com/wp-content/themes/gnuble/js/ads.js?ver=1.5', type='text/javascript')
    script(src='http://s2.latercera.com/wp-content/themes/gnuble/js/bootstrap.min.js?ver=v3', type='text/javascript')
    script(src='http://s1.latercera.com/wp-content/themes/gnuble/js/owlcarousel/owl.carousel.min.js?ver=v3', type='text/javascript')
    script(src='http://s2.latercera.com/wp-content/themes/gnuble/js/velocity.min.js?ver=v3', type='text/javascript')
    script(type='text/javascript').
      /* <![CDATA[ */
      var homeurl = "http:\\/\/www.latercera.com";
      /* ]]> */
    script(src='http://s2.latercera.com/wp-content/themes/gnuble/js/main.js?ver=v3.4', type='text/javascript')
    script(src='http://s2.latercera.com/wp-content/themes/gnuble/js/gaTrackers.js?ver=v1', type='text/javascript')
    script(src='http://s1.latercera.com/wp-content/themes/gnuble/js/header.js?ver=v3', type='text/javascript')
    script(src='http://s1.latercera.com/wp-content/themes/gnuble/js/socials.js?ver=v3.3.2', type='text/javascript')
    script(src='http://s1.latercera.com/wp-content/themes/gnuble/js/render.js?ver=v1', type='text/javascript')
    script(src='http://s1.latercera.com/wp-includes/js/wp-embed.min.js?ver=4.8', type='text/javascript')

    script(type='text/javascript').
      _satellite.pageBottom();