form.userform(action="#")
  .rem-userbox.rem-userbox-logged
    .userbox-bg
      h3 Carlos José Yánez Eckman
      h4 Remates Tesorería
    .userbox-wrap
      button(type="submit").res-btn Cerrar Sesión