form.userform(action="#")
  .rem-userbox.rem-userbox-login
    h4 ACCEDER
    .userbox-bg
      input.text(type="text" placeholder="Usuario")
      input.text(type="password" placeholder="Contraseña")
      label(for="remember-check")
        input.check(type="checkbox" id="remember-check")
        span Recordar
    .userbox-wrap
      button(type="submit").res-btn Iniciar Sesión
    .userbox-wrap
      a(href="#") Recuperar contraseña