include _header
section.wrap
  form(action="").rem-search
    input.text(type="text" placeholder="BUSCAR")

section.wrap
  .res-search-boxes
    .box.res-search-box.text-box
      header Búsqueda por Rol
      form(action="#")
        .form-wrap
          label(for="por-rol") Número de Rol:
          input#por-rol(type="text" placeholder="100100...")
        footer
          button.res-btn.res-btn-submit(type="submit") Buscar

    .box.res-search-box.date-box
      header Búsqueda por Fecha
      form(action="#")
        .form-wrap
          label(for="por-fecha-desde") Desde:
          input#por-fecha-desde(type="text" placeholder="100100...")
          label(for="por-fecha-hasta") Hasta:
          input#por-fecha-desde(type="text" placeholder="100100...")
        footer
          button.res-btn.res-btn-submit(type="submit") Buscar

    .box.res-search-box.select-box
      header Búsqueda por Comuna
      form(action="#")
        .form-wrap
          label(for="region") Región:
          input#region(type="text" placeholder="100100...")
          label(for="por-fecha-hasta") Comuna:
          input#comuna(type="text" placeholder="100100...")
        footer
          button.res-btn.res-btn-submit(type="submit") Buscar

    .box.res-search-box.select-box
      header Búsqueda por Tribunal
      form(action="#")
        .form-wrap
          label(for="tribunal-region") Región:
          input#tribunal-region(type="text" placeholder="100100...")
          label(for="tribunal-tribunal") Tribunal:
          input#tribunal-tribunal(type="text" placeholder="100100...")
        footer
          button.res-btn.res-btn-submit(type="submit") Buscar

section.wrap.res-main
  header Remates publicados 27 / 06 / 2018
    a(href="#").resbtn-pdf ver pdf

  .res-juzgado
    header Secretaría 1º juzgado civil de Santiago

    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173

  .res-juzgado
    header Secretaría 1º juzgado civil de Santiago

    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
    .res-table
      table.table
        thead
          tr
            th Rol
            th.res-hide Nombre
            th.res-hide Ubicación
            th.res-hide Avalúo
            th.res-hide Tasación
            th.res-show Datos
        tbody
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
          tr
            td 330-03607-028
            td.res-hide Pastrian Escobar Luis
            td.res-hide Calle Reina María 2850 Independencia
            td.res-hide 15.877.056
            td.res-hide 20.640.173
            td.res-show
              ul
                li
                  strong Nombre
                  span Pastrian Escobar Luis
                li
                  strong Ubicación
                  span Calle Reina María 2850 Independencia
                li
                  strong Avalúo
                  span 15.877.056
                li
                  strong Tasación
                  span 20.640.173
