$azul: #252f61;
$grisclaro: #e5e5e5;
$gris: #565656;
$rojo: #e02835;
$radius: 50px;
$smradius: 10px;
.wrap-remates {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 330px);
  font-family: "Open Sans", sans-serif;
  @media (max-width: 1440px) {
    width: calc(100% - 110px);
  }
  @media (max-width: 1220px) {
    width: calc(100% - 20px);
  }
}

.fill-up {
  padding-top: 160px;
  @media (max-width: 990px) {
    padding-top: 50px;
  }
}

.wrap {
  padding: 2rem 1rem;
}

.tes {
  border-radius: 50px;
}

.remates-header {
  h1 {
    margin: 0;
    padding: 0;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  h6.ttl-remates {
    margin: 0;
    padding: 0.5rem 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
    position: relative;
    span {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      border-bottom: 1px solid #ccc;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
    }
    &:before {
      content: '';
      position: absolute;
      background-color: white;
      height: 20px;
      width: 100px;
      left: 50%;
      margin-left: -50px;
      z-index: 1;
    }
  }
  .remates-header-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .col2 {
      img {
        max-width: 100%;
      }
    }
    .col3 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    @media(max-width: 800px) {
      h1 {
        max-width: 200px;
      }
    }
  }
}

.rem-menu {}

.rem-userbox-login {
  margin-top: 2rem;
  max-width: 300px;
  position: relative;
  h4 {
    position: absolute;
    top: 0;
    right: calc(100% + 35px);
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: top right;
    padding: 5px 10px;
    color: lighten($gris, 40%);
  }
  .text {
    padding: 0.4rem 0.8rem;
  }
  .userbox-bg {
    background-color: lighten($gris, 40%);
    border-top-right-radius: $smradius;
    border-bottom-right-radius: $smradius;
    border-bottom-right-radius: $smradius;
    position: relative;
    padding: 1rem;
    &:before {
      content: '';
      border: 1px solid lighten($gris, 40%);
      border-top-left-radius: $smradius;
      border-bottom-left-radius: $smradius;
      position: absolute;
      right: 100%;
      width: 4rem;
      top: 0;
      bottom: 0;
    }
    .text {
      margin-bottom: 10px;
    }
    label {
      display: flex;
      text-transform: uppercase;
      font-size: 13px;
      justify-content: flex-end;
      input.check {
        width: auto;
        display: block;
        padding-right: 4px;
      }
    }
  }
  .userbox-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0 0;
    a {
      font-size: 12px;
      line-height: 12px;
      padding: 0;
      color: $gris;
    }
    .res-btn {
      padding-top: 3px;
      padding-bottom: 3px;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

.rem-search {
  .text {
    display: block;
    width: 100%;
    border-radius: $radius;
    background-color: $azul;
    color: white;
    border: 0;
    padding: 1rem 3rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    &::placeholder {
      color: white;
    }
  }
}

input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: $radius;
  padding: 0.8rem 0.8rem;
}

.res-search-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  @media (max-width: 1020px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media (max-width: 680px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

.res-btn {
  background-color: $azul;
  color: white;
  border-radius: $radius;
  letter-spacing: 1px;
  padding: 0.8rem 2rem;
  transition: all 0.3s;
  border: none;
  &:hover,
  &:active {
    background-color: lighten($azul, 10%);
    color: white;
  }
}

.res-search-box {
  background-color: $grisclaro;
  border-radius: $smradius;
  header {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px 1rem;
    background-color: $azul;
    color: white;
    border-top-left-radius: $smradius;
    border-top-right-radius: $smradius;
  }
  form {
    padding: 2rem 3rem;
    label {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
  footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  &.date-box,
  &.select-box {
    .form-wrap {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      grid-gap: 5px;
    }
  }
}

.res-main {
  >header {
    background-color: $rojo;
    border-radius: $radius;
    color: white;
    border: 0;
    padding: 1rem 3rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    .resbtn-pdf {
      position: absolute;
      right: 10px;
      top: 9px;
    }
  }
}

.resbtn-pdf {
  color: white;
  background-color: $azul;
  padding: 4px 15px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 50px;
}

.res-juzgado,
.res-resultados-fecha {
  padding: 2rem 0 6rem;
  >header {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.6rem;
    color: #565656;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #666666;
  }
}

.res-table {
  @media (max-width: 680px) {
    font-size: 90%;
  }
  thead {
    background-color: $azul;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    th:first-child {
      border-top-left-radius: $smradius;
    }
    th:last-child {
      border-top-right-radius: $smradius;
    }
  }
  tbody {
    td {
      border: 1px solid #c3c3c3;
    }
    tr:nth-child(odd) td {
      background-color: $grisclaro;
    }
    tr:nth-child(even) td {}
  }
  .res-show {
    display: none;
  }
  @media (max-width: 680px) {
    .res-hide {
      display: none;
    }
    .res-show {
      display: table-cell;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        strong {
          display: block;
        }
      }
    }
  }
}

.res-single {
  >header {
    background-color: $grisclaro;
    border-radius: $radius;
    color: $gris;
    border: 0;
    padding: 1rem 3rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.res-box-ficha,
.res-box-search {
  margin: 2rem auto;
  max-width: 860px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, .03), 0 1px 2px rgba(102, 119, 136, .3), 0 8px 12px rgba(58, 193, 203, .1);
  border-radius: $smradius;
  >header {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: $azul;
    color: white;
    border-top-left-radius: $smradius;
    border-top-right-radius: $smradius;
  }
  .ficha-content {
    padding: 0 2rem;
    ul {
      padding: 0;
      li {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 1rem;
        border-bottom: 1px solid $grisclaro;
        @media (max-width: 880px) {
          display: block;
        }
        strong {
          font-weight: bold;
          color: $azul;
          letter-spacing: 1px;
          @media (max-width: 880px) {
            display: block;
          }
        }
      }
    }
  }
}

.box-propiedad {
  .ficha-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    align-items: flex-end;
    @media (max-width: 880px) {
      display: block;
    }
    .col1 {
      h4 {
        font-size: 1.8rem;
        text-transform: uppercase;
        strong {
          display: block;
          background-color: $grisclaro;
          border-radius: $radius;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
}

.res-box-download {
  margin: 4rem auto;
  max-width: 860px;
}

.box-remate {}

.rem-userbox-logged {
  margin-top: 2rem;
  max-width: 300px;
  position: relative;
  .userbox-bg {
    text-align: right;
    font-weight: 400px;
    h3 {
      font-size: 18px;
      background-color: lighten($gris, 40%);
      margin: 0;
      padding: 0.8rem;
      border-top-left-radius: $smradius;
      border-top-right-radius: $smradius;
    }
    h4 {
      background-color: lighten($gris, 50%);
      font-size: 14px;
      margin: 0;
      padding: 0.8rem;
      border-bottom-left-radius: $smradius;
      border-bottom-right-radius: $smradius;
    }
  }
  .userbox-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0 0;
  }
  .res-btn {
    padding-top: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.rem-menu-top {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  .rem-menu {
    background-color: $grisclaro;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    border-radius: 50px;
    a {
      color: $gris;
      padding: 4px 2rem;
      text-transform: uppercase;
      font-size: 14px;
      display: block;
      transition: all, 0.3s;
      border-radius: 50px;
      &:active,
      &:hover,
      &.highlighted {
        background-color: $azul;
        color: white;
      }
      @media(max-width: 800px) {
        padding: 4px 1rem;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}

.res-search {
  >header {
    background-color: $rojo;
    border-radius: $radius;
    color: white;
    border: 0;
    padding: 1rem 3rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .header-col1 {
    display: flex;
    align-items: center;
  }
  .header-col2 {
    form {
      display: flex;
      align-items: center;
    }
    label {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0 5px 0 0;
      span {
        font-size: 16px;
      }
      input.text {
        padding: 0.3rem 0.8rem;
      }
    }
    button.res-btn {
      padding: 0.3rem 1.5rem;
      font-size: 16px;
    }
  }
}

.rem-resultados-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 3rem;
}

.res-box-search {
  margin: 0;
  header {
    text-align: center;
  }
  footer {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    a {
      display: block;
      padding: 0.8rem 1.2rem;
      text-align: center;
    }
  }
}

.rem-login {
  .rem-login-mobile {
    display: none; // border: 3px solid #0f0;
  }
  .rem-login-desktop {
    // border: 3px solid #f0f;
  }
  @media (max-width: 800px) {
    .rem-login-mobile {
      display: block;
    }
    .rem-login-desktop {
      display: none;
    }
  }
  .rem-login-mobile {
    padding: 10px;
    position: relative;
    .rem-login-box {
      height: 0;
      max-height: 0;
      transition: all .3s;
      position: absolute;
      overflow: hidden;
      z-index: 3;
      top: 40px;
      right: 0;
      width: 100vw;
      background-color: rgba(white, 0.9);
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      &.active {
        height: auto;
        max-height: 300px;
        padding: 0 0 1rem 0;
      }
    }
    .rem-login-button {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
}

.calendar-archives {
  position: relative;
  width: 100%;
  font-size: 13px;
  * {
    box-sizing: border-box !important;
  }
  a {
    outline: none !important;
    &:focus,
    &:active {
      outline: none !important;
    }
  }
  &.arw-theme1 {
    .calendar-navigation {
      position: relative;
      display: table;
      width: 100%;
    }
    .prev-year,
    .next-year,
    .menu-container {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
    >.archives-years {
      position: relative;
      overflow: hidden;
    }
    .year {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -100%;
      width: 100%;
      z-index: 0;
    }
    .year-link {
      display: none;
    }
    .year {
      &.last {
        position: relative;
      }
      &.current {
        margin-left: 0;
        z-index: 1;
      }
    }
  }
}

.settings_page_Arrchives_Calendar_Widget #TB_ajaxContent,
.arcw-preview-zone {
  background-color: #FFFFFF;
}

.calendar-archives {
  a {
    text-decoration: none;
  }
  &.arw-theme1 {
    .calendar-navigation {
      height: 30px !important;
      margin: 0px 0px 1px 0px;
      color: #FFFFFF;
      font-size: 13px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 0px;
      border-left: 0px;
      border-style: solid;
      border-color: $gris;
      border-top-left-radius: $smradius;
      border-top-right-radius: $smradius;
      background-color: $azul;
    }
    .prev-year,
    .next-year {
      width: 32px;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
      color: #FFFFFF;
    }
    .prev-year {
      border-top-left-radius: $smradius;
    }
    .next-year {
      border-top-right-radius: $smradius;
    }
    .prev-year>span,
    .next-year>span {
      display: block;
      line-height: 40px;
    }
    .prev-year:hover,
    .next-year:hover {
      color: #FFFFFF;
      background-color: $azul;
    }
    .prev-year:hover span,
    .next-year:hover span {
      color: #FFFFFF;
    }
    .prev-year.disabled,
    .next-year.disabled {
      opacity: 0.4;
      cursor: default;
    }
    .prev-year.disabled:hover,
    .next-year.disabled:hover {
      background: none;
    }
    .prev-year {
      border-right: 1px #FFFFFF solid;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    .next-year {
      border-left: 1px #FFFFFF solid;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .menu-container {
      position: relative;
      height: 30px;
      padding: 0;
      text-align: center;
      text-transform: capitalize;
      &:hover {
        background-color: $azul;
      }
      > {
        a.title {
          display: block;
          height: 40px;
          line-height: 40px;
          color: #FFFFFF;
          font-size: 18px;
        }
        ul {
          margin: 0;
          padding: 0;
          >li {
            margin: 0;
            padding: 0;
          }
          &.menu {
            position: absolute;
            display: none;
            width: 100%;
            top: 0;
            overflow: hidden;
            border-radius: 0;
            box-shadow: 0 0 10px 0 #000000;
            background: #FFFFFF;
            z-index: 99;
          }
        }
      }
      li {
        display: block;
        >a {
          display: block;
          height: 40px;
          line-height: 40px;
          color: $gris;
          &:hover {
            cursor: pointer;
            color: #FFFFFF;
            background: $azul;
          }
          &.selected {
            color: #FFFFFF;
            background: $azul;
            &:hover {
              text-decoration: none;
              cursor: default;
              color: #FFFFFF;
              background: $azul;
            }
          }
        }
      }
    }
    .arrow-down {
      position: absolute;
      width: 24px;
      height: 40px;
      line-height: 40px;
      top: 0;
      right: 0;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 9px;
      color: #FFF;
      cursor: pointer;
      border-left: 1px $gris solid;
      &:hover {
        border-color: #FFFFFF !important;
        background-color: $gris;
      }
    }
    .menu-container:hover>.arrow-down {
      border-left: 1px $gris solid;
    }
    >.archives-years {
      background-color: #FFFFFF;
    }
    .month,
    .day {
      position: relative;
      display: block;
      overflow: hidden;
      float: left;
      float: left;
      color: $gris;
      background-color: #f0f0f0;
      border-bottom: 1px #FFFFFF solid;
      border-right: 1px #FFFFFF solid;
      border-radius: 0px;
    }
    .month.has-posts a,
    .day.has-posts a {
      display: block;
      width: 100%;
      height: 100%;
      color: #FFFFFF;
      border-radius: 0px;
      /*border-bottom: 3px solid #b93207;*/
      background-color: $azul;
    }
    .month.has-posts a:hover,
    .day.has-posts a:hover {
      background-color: $azul;
      color: #FFFFFF;
    }
    .month.last,
    .day.last {
      border-right: none !important;
      margin-right: 0 !important;
    }
    .month {
      width: 25%;
      height: 50px;
    }
    .month-name {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      display: block;
      position: absolute;
      top: 6px;
      left: 8px;
      color: #CCCCCC;
    }
    .postcount {
      display: block;
      color: #CCCCCC;
    }
    .month.has-posts {
      .postcount {
        display: block;
        color: #FFFFFF;
      }
      &:hover .postcount {
        color: #FFFFFF;
      }
    }
    .postcount {
      position: absolute;
      right: 6px;
      bottom: 6px;
      font-size: 14px;
      .number,
      .count-text {
        font-size: 9px;
      }
    }
    .day {
      width: 14.285% !important;
      height: 25px;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
      font-weight: normal;
      &.today {
        border-bottom: 3px solid $rojo;
      }
      &.has-posts a {
        height: 25px;
        text-decoration: none;
        font-weight: normal;
      }
      &.noday {
        box-shadow: none;
        background: none !important;
        border-bottom: 1px #FFFFFF solid;
        border-right: 1px #FFFFFF solid;
      }
      &.weekday {
        display: inline-block;
        padding: 0;
        height: 22px;
        line-height: 22px;
        border: none;
        font-size: 11px;
        font-weight: normal;
        color: #FFFFFF;
        text-transform: uppercase;
        box-shadow: none;
        background: none !important;
      }
    }
    .week-row {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: #FFFFFF;
      &.weekdays {
        height: 22px;
        line-height: 22px;
        margin-bottom: 1px;
        background-color: #7e7e7e;
      }
    }
  }
}