include _header-nonlogged
section.wrap.res-search
  header
    .header-col1
      span Resultados por fecha
    .header-col2
      form(action="")
        label
          span DESDE:
          input.text(type="text")
        label
          span HASTA:
          input.text(type="text")
        button.res-btn Buscar

  .res-resultados-fecha
    header Remates desde 15/02/2018 al 15/02/2018

    .rem-resultados-boxes

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF

      .res-box-search
        header Publicación
        .ficha-content
          ul
            li
              strong Fecha:
              span 03/06/2018
            li
              strong Nro. de Remates:
              span 8
        footer
          a(href="#").res-btn Ver Remates
          a(href="#").res-btn Descarga PDF




  section.wrap
    form(action="").rem-search
      input.text(type="text" placeholder="BUSCAR")

  section.wrap
    .res-search-boxes
      .box.res-search-box.text-box
        header Búsqueda por Rol
        form(action="#")
          .form-wrap
            label(for="por-rol") Número de Rol:
            input#por-rol(type="text" placeholder="100100...")
          footer
            button.res-btn.res-btn-submit(type="submit") Buscar

      .box.res-search-box.date-box
        header Búsqueda por Fecha
        form(action="#")
          .form-wrap
            label(for="por-fecha-desde") Desde:
            input#por-fecha-desde(type="text" placeholder="100100...")
            label(for="por-fecha-hasta") Hasta:
            input#por-fecha-desde(type="text" placeholder="100100...")
          footer
            button.res-btn.res-btn-submit(type="submit") Buscar

      .box.res-search-box.select-box
        header Búsqueda por Comuna
        form(action="#")
          .form-wrap
            label(for="region") Región:
            input#region(type="text" placeholder="100100...")
            label(for="por-fecha-hasta") Comuna:
            input#comuna(type="text" placeholder="100100...")
          footer
            button.res-btn.res-btn-submit(type="submit") Buscar

      .box.res-search-box.select-box
        header Búsqueda por Tribunal
        form(action="#")
          .form-wrap
            label(for="tribunal-region") Región:
            input#tribunal-region(type="text" placeholder="100100...")
            label(for="tribunal-tribunal") Tribunal:
            input#tribunal-tribunal(type="text" placeholder="100100...")
          footer
            button.res-btn.res-btn-submit(type="submit") Buscar
