include _header-nonlogged
section.wrap.res-single
  header Remate de Bien raíz

  .res-box-ficha.box-propiedad
    header ANTECEDENTES DE LA PROPIEDAD
    .ficha-content
      .col1
        h4
          small Comuna
          strong Santiago (70)
      .col2
        ul
          li
            strong Rol:
            span 	00022-121
          li
            strong propietario:
            span CARRILLO MUNOZ ROSA HERMOSINA
          li
            strong Dirección:
            span ALAMEDA LIB. B. OHIGGINS 723 DP 105
          li
            strong Región:
            span METROPOLITANA
  .res-box-ficha.box-remate
    header ANTECEDENTES DEL REMATE
    .ficha-content
      ul
        li
          strong Tesorería:
          span 	Tesorería Regional Metropolitana
        li
          strong Juzgado:
          span Santiago Civil 28
        li
          strong Dirección Juzgado:
          span M. Rodríguez 47 3
        li
          strong Fecha:
          span 03-12-2019 15:50
        li
          strong Expediente Judicial Nº:
          span 	17657 del año 2018.
        li
          strong Expediente Administrativo Nº:
          span 	13323 del año 2017.
        li
          strong Tasación:
          span 	$ 132.292.541
        li
          strong Valor de Garantía de Participación:
          span Según Bases del Remate
        li
          strong Ubicación
          span 	LA TERCERA   05-11-2018   19-11-2018

  .res-box-download
    a.res-btn.res-btn-download(href="#") Descargar




