.wrap-remates {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 330px);
  font-family: "Open Sans", sans-serif
}

@media (max-width:1440px) {
  .wrap-remates {
    width: calc(100% - 110px)
  }
}

@media (max-width:1220px) {
  .wrap-remates {
    width: calc(100% - 20px)
  }
}

.fill-up {
  padding-top: 160px
}

@media (max-width:990px) {
  .fill-up {
    padding-top: 50px
  }
}

.wrap {
  padding: 2rem 1rem
}

.tes {
  border-radius: 50px
}

.remates-header h1 {
  margin: 0;
  padding: 0
}

.remates-header h1 img {
  display: block;
  margin: 0 auto
}

.remates-header h6.ttl-remates {
  margin: 0;
  padding: 0.5rem 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  position: relative
}

.remates-header h6.ttl-remates span {
  position: relative;
  z-index: 2
}

.remates-header h6.ttl-remates:after {
  content: '';
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%
}

.remates-header h6.ttl-remates:before {
  content: '';
  position: absolute;
  background-color: white;
  height: 20px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  z-index: 1
}

.remates-header .remates-header-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.remates-header .remates-header-wrapper .col2 img {
  max-width: 100%
}

.remates-header .remates-header-wrapper .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

@media (max-width:800px) {
  .remates-header .remates-header-wrapper h1 {
    max-width: 200px
  }
}

.rem-userbox-login {
  margin-top: 2rem;
  max-width: 300px;
  position: relative
}

.rem-userbox-login h4 {
  position: absolute;
  top: 0;
  right: calc(100% + 35px);
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  padding: 5px 10px;
  color: #bcbcbc
}

.rem-userbox-login .text {
  padding: 0.4rem 0.8rem
}

.rem-userbox-login .userbox-bg {
  background-color: #bcbcbc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  padding: 1rem
}

.rem-userbox-login .userbox-bg:before {
  content: '';
  border: 1px solid #bcbcbc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 100%;
  width: 4rem;
  top: 0;
  bottom: 0
}

.rem-userbox-login .userbox-bg .text {
  margin-bottom: 10px
}

.rem-userbox-login .userbox-bg label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.rem-userbox-login .userbox-bg label input.check {
  width: auto;
  display: block;
  padding-right: 4px
}

.rem-userbox-login .userbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 0
}

.rem-userbox-login .userbox-wrap a {
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  color: #565656
}

.rem-userbox-login .userbox-wrap .res-btn {
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 14px
}

.rem-search .text {
  display: block;
  width: 100%;
  border-radius: 50px;
  background-color: #252f61;
  color: white;
  border: 0;
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px
}

.rem-search .text::-webkit-input-placeholder {
  color: white
}

.rem-search .text::-ms-input-placeholder {
  color: white
}

.rem-search .text::placeholder {
  color: white
}

input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 0.8rem 0.8rem
}

.res-search-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem
}

@media (max-width:1020px) {
  .res-search-boxes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem
  }
}

@media (max-width:680px) {
  .res-search-boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem
  }
}

.res-btn {
  background-color: #252f61;
  color: white;
  border-radius: 50px;
  letter-spacing: 1px;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none
}

.res-btn:hover,
.res-btn:active {
  background-color: #334186;
  color: white
}

.res-search-box {
  background-color: #e5e5e5;
  border-radius: 10px
}

.res-search-box header {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 5px 1rem;
  background-color: #252f61;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.res-search-box form {
  padding: 2rem 3rem
}

.res-search-box form label {
  text-transform: uppercase;
  font-size: 1.6rem
}

.res-search-box footer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.res-search-box.date-box .form-wrap,
.res-search-box.select-box .form-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 5px
}

.res-main>header {
  background-color: #e02835;
  border-radius: 50px;
  color: white;
  border: 0;
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative
}

.res-main>header .resbtn-pdf {
  position: absolute;
  right: 10px;
  top: 9px
}

.resbtn-pdf {
  color: white;
  background-color: #252f61;
  padding: 4px 15px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 50px
}

.res-juzgado,
.res-resultados-fecha {
  padding: 2rem 0 6rem
}

.res-juzgado>header,
.res-resultados-fecha>header {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #565656;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #666
}

@media (max-width:680px) {
  .res-table {
    font-size: 90%
  }
}

.res-table thead {
  background-color: #252f61;
  color: white;
  font-weight: bold;
  text-transform: uppercase
}

.res-table thead th:first-child {
  border-top-left-radius: 10px
}

.res-table thead th:last-child {
  border-top-right-radius: 10px
}

.res-table tbody td {
  border: 1px solid #c3c3c3
}

.res-table tbody tr:nth-child(odd) td {
  background-color: #e5e5e5
}

.res-table .res-show {
  display: none
}

@media (max-width:680px) {
  .res-table .res-hide {
    display: none
  }
  .res-table .res-show {
    display: table-cell
  }
  .res-table ul {
    padding: 0
  }
  .res-table ul li {
    list-style: none;
    padding: 0;
    margin: 0
  }
  .res-table ul li strong {
    display: block
  }
}

.res-single>header {
  background-color: #e5e5e5;
  border-radius: 50px;
  color: #565656;
  border: 0;
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold
}

.res-box-ficha,
.res-box-search {
  margin: 2rem auto;
  max-width: 860px;
  -webkit-box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
  border-radius: 10px
}

.res-box-ficha>header,
.res-box-search>header {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: #252f61;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.res-box-ficha .ficha-content,
.res-box-search .ficha-content {
  padding: 0 2rem
}

.res-box-ficha .ficha-content ul,
.res-box-search .ficha-content ul {
  padding: 0
}

.res-box-ficha .ficha-content ul li,
.res-box-search .ficha-content ul li {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5
}

@media (max-width:880px) {
  .res-box-ficha .ficha-content ul li,
  .res-box-search .ficha-content ul li {
    display: block
  }
}

.res-box-ficha .ficha-content ul li strong,
.res-box-search .ficha-content ul li strong {
  font-weight: bold;
  color: #252f61;
  letter-spacing: 1px
}

@media (max-width:880px) {
  .res-box-ficha .ficha-content ul li strong,
  .res-box-search .ficha-content ul li strong {
    display: block
  }
}

.box-propiedad .ficha-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

@media (max-width:880px) {
  .box-propiedad .ficha-content {
    display: block
  }
}

.box-propiedad .ficha-content .col1 h4 {
  font-size: 1.8rem;
  text-transform: uppercase
}

.box-propiedad .ficha-content .col1 h4 strong {
  display: block;
  background-color: #e5e5e5;
  border-radius: 50px;
  padding: 0.5rem 1.5rem
}

.res-box-download {
  margin: 4rem auto;
  max-width: 860px
}

.rem-userbox-logged {
  margin-top: 2rem;
  max-width: 300px;
  position: relative
}

.rem-userbox-logged .userbox-bg {
  text-align: right;
  font-weight: 400px
}

.rem-userbox-logged .userbox-bg h3 {
  font-size: 18px;
  background-color: #bcbcbc;
  margin: 0;
  padding: 0.8rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.rem-userbox-logged .userbox-bg h4 {
  background-color: #d6d6d6;
  font-size: 14px;
  margin: 0;
  padding: 0.8rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.rem-userbox-logged .userbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 0
}

.rem-userbox-logged .res-btn {
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 14px
}

.rem-menu-top {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.rem-menu-top .rem-menu {
  background-color: #e5e5e5;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px
}

.rem-menu-top .rem-menu a {
  color: #565656;
  padding: 4px 2rem;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  border-radius: 50px
}

.rem-menu-top .rem-menu a:active,
.rem-menu-top .rem-menu a:hover,
.rem-menu-top .rem-menu a.highlighted {
  background-color: #252f61;
  color: white
}

@media (max-width:800px) {
  .rem-menu-top .rem-menu a {
    padding: 4px 1rem;
    font-size: 13px;
    text-align: center
  }
}

.res-search>header {
  background-color: #e02835;
  border-radius: 50px;
  color: white;
  border: 0;
  padding: 1rem 3rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem
}

.res-search .header-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.res-search .header-col2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.res-search .header-col2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0 5px 0 0
}

.res-search .header-col2 label span {
  font-size: 16px
}

.res-search .header-col2 label input.text {
  padding: 0.3rem 0.8rem
}

.res-search .header-col2 button.res-btn {
  padding: 0.3rem 1.5rem;
  font-size: 16px
}

.rem-resultados-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 3rem
}

.res-box-search {
  margin: 0
}

.res-box-search header {
  text-align: center
}

.res-box-search footer {
  display: grid;
  grid-gap: 10px;
  padding: 10px
}

.res-box-search footer a {
  display: block;
  padding: 0.8rem 1.2rem;
  text-align: center
}

.rem-login .rem-login-mobile {
  display: none
}

@media (max-width:800px) {
  .rem-login .rem-login-mobile {
    display: block
  }
  .rem-login .rem-login-desktop {
    display: none
  }
}

.rem-login .rem-login-mobile {
  padding: 10px;
  position: relative
}

.rem-login .rem-login-mobile .rem-login-box {
  height: 0;
  max-height: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  top: 40px;
  right: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.rem-login .rem-login-mobile .rem-login-box.active {
  height: auto;
  max-height: 300px;
  padding: 0 0 1rem 0
}

.rem-login .rem-login-mobile .rem-login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase
}

.calendar-archives {
  position: relative;
  width: 100%;
  font-size: 13px
}

.calendar-archives * {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important
}

.calendar-archives a {
  outline: none !important
}

.calendar-archives a:focus,
.calendar-archives a:active {
  outline: none !important
}

.calendar-archives.arw-theme1 .calendar-navigation {
  position: relative;
  display: table;
  width: 100%
}

.calendar-archives.arw-theme1 .prev-year,
.calendar-archives.arw-theme1 .next-year,
.calendar-archives.arw-theme1 .menu-container {
  display: table-cell;
  height: 100%;
  vertical-align: middle
}

.calendar-archives.arw-theme1>.archives-years {
  position: relative;
  overflow: hidden
}

.calendar-archives.arw-theme1 .year {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -100%;
  width: 100%;
  z-index: 0
}

.calendar-archives.arw-theme1 .year-link {
  display: none
}

.calendar-archives.arw-theme1 .year.last {
  position: relative
}

.calendar-archives.arw-theme1 .year.current {
  margin-left: 0;
  z-index: 1
}

.settings_page_Arrchives_Calendar_Widget #TB_ajaxContent,
.arcw-preview-zone {
  background-color: #FFF
}

.calendar-archives a {
  text-decoration: none
}

.calendar-archives.arw-theme1 .calendar-navigation {
  height: 30px !important;
  margin: 0 0 1px 0;
  color: #FFF;
  font-size: 13px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: #565656;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #252f61
}

.calendar-archives.arw-theme1 .prev-year,
.calendar-archives.arw-theme1 .next-year {
  width: 32px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #FFF
}

.calendar-archives.arw-theme1 .prev-year {
  border-top-left-radius: 10px
}

.calendar-archives.arw-theme1 .next-year {
  border-top-right-radius: 10px
}

.calendar-archives.arw-theme1 .prev-year>span,
.calendar-archives.arw-theme1 .next-year>span {
  display: block;
  line-height: 40px
}

.calendar-archives.arw-theme1 .prev-year:hover,
.calendar-archives.arw-theme1 .next-year:hover {
  color: #FFF;
  background-color: #252f61
}

.calendar-archives.arw-theme1 .prev-year:hover span,
.calendar-archives.arw-theme1 .next-year:hover span {
  color: #FFF
}

.calendar-archives.arw-theme1 .prev-year.disabled,
.calendar-archives.arw-theme1 .next-year.disabled {
  opacity: 0.4;
  cursor: default
}

.calendar-archives.arw-theme1 .prev-year.disabled:hover,
.calendar-archives.arw-theme1 .next-year.disabled:hover {
  background: none
}

.calendar-archives.arw-theme1 .prev-year {
  border-right: 1px #FFF solid;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0
}

.calendar-archives.arw-theme1 .next-year {
  border-left: 1px #FFF solid;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.calendar-archives.arw-theme1 .menu-container {
  position: relative;
  height: 30px;
  padding: 0;
  text-align: center;
  text-transform: capitalize
}

.calendar-archives.arw-theme1 .menu-container:hover {
  background-color: #252f61
}

.calendar-archives.arw-theme1 .menu-container>a.title {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  font-size: 18px
}

.calendar-archives.arw-theme1 .menu-container>ul {
  margin: 0;
  padding: 0
}

.calendar-archives.arw-theme1 .menu-container>ul>li {
  margin: 0;
  padding: 0
}

.calendar-archives.arw-theme1 .menu-container>ul.menu {
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  overflow: hidden;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
  background: #FFF;
  z-index: 99
}

.calendar-archives.arw-theme1 .menu-container li {
  display: block
}

.calendar-archives.arw-theme1 .menu-container li>a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #565656
}

.calendar-archives.arw-theme1 .menu-container li>a:hover {
  cursor: pointer;
  color: #FFF;
  background: #252f61
}

.calendar-archives.arw-theme1 .menu-container li>a.selected {
  color: #FFF;
  background: #252f61
}

.calendar-archives.arw-theme1 .menu-container li>a.selected:hover {
  text-decoration: none;
  cursor: default;
  color: #FFF;
  background: #252f61
}

.calendar-archives.arw-theme1 .arrow-down {
  position: absolute;
  width: 24px;
  height: 40px;
  line-height: 40px;
  top: 0;
  right: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #FFF;
  cursor: pointer;
  border-left: 1px #565656 solid
}

.calendar-archives.arw-theme1 .arrow-down:hover {
  border-color: #FFF !important;
  background-color: #565656
}

.calendar-archives.arw-theme1 .menu-container:hover>.arrow-down {
  border-left: 1px #565656 solid
}

.calendar-archives.arw-theme1>.archives-years {
  background-color: #FFF
}

.calendar-archives.arw-theme1 .month,
.calendar-archives.arw-theme1 .day {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  float: left;
  color: #565656;
  background-color: #f0f0f0;
  border-bottom: 1px #FFF solid;
  border-right: 1px #FFF solid;
  border-radius: 0
}

.calendar-archives.arw-theme1 .month.has-posts a,
.calendar-archives.arw-theme1 .day.has-posts a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  border-radius: 0;
  background-color: #252f61
}

.calendar-archives.arw-theme1 .month.has-posts a:hover,
.calendar-archives.arw-theme1 .day.has-posts a:hover {
  background-color: #252f61;
  color: #FFF
}

.calendar-archives.arw-theme1 .month.last,
.calendar-archives.arw-theme1 .day.last {
  border-right: none !important;
  margin-right: 0 !important
}

.calendar-archives.arw-theme1 .month {
  width: 25%;
  height: 50px
}

.calendar-archives.arw-theme1 .month-name {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: 6px;
  left: 8px;
  color: #CCC
}

.calendar-archives.arw-theme1 .postcount {
  display: block;
  color: #CCC
}

.calendar-archives.arw-theme1 .month.has-posts .postcount {
  display: block;
  color: #FFF
}

.calendar-archives.arw-theme1 .month.has-posts:hover .postcount {
  color: #FFF
}

.calendar-archives.arw-theme1 .postcount {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-size: 14px
}

.calendar-archives.arw-theme1 .postcount .number,
.calendar-archives.arw-theme1 .postcount .count-text {
  font-size: 9px
}

.calendar-archives.arw-theme1 .day {
  width: 14.285% !important;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  font-weight: normal
}

.calendar-archives.arw-theme1 .day.today {
  border-bottom: 3px solid #e02835
}

.calendar-archives.arw-theme1 .day.has-posts a {
  height: 25px;
  text-decoration: none;
  font-weight: normal
}

.calendar-archives.arw-theme1 .day.noday {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none !important;
  border-bottom: 1px #FFF solid;
  border-right: 1px #FFF solid
}

.calendar-archives.arw-theme1 .day.weekday {
  display: inline-block;
  padding: 0;
  height: 22px;
  line-height: 22px;
  border: none;
  font-size: 11px;
  font-weight: normal;
  color: #FFF;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none !important
}

.calendar-archives.arw-theme1 .week-row {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #FFF
}

.calendar-archives.arw-theme1 .week-row.weekdays {
  height: 22px;
  line-height: 22px;
  margin-bottom: 1px;
  background-color: #7e7e7e
}